name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    if: github.repository == 'GeoMigrata/dotMigrata'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore strong-name key
        run: |
          mkdir -p ./build
          echo "${{ secrets.SNK_KEY_BASE64 }}" | base64 --decode > ./build/GeoMigrata.snk

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Test
        run: dotnet test -c Release --no-build

      - name: Pack
        run: dotnet pack dotMigrata.csproj -c Release --no-build /p:PackageVersion=${GITHUB_REF_NAME#v}

      - name: Push to NuGet
        run: dotnet nuget push "**/*.nupkg" --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
